<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News Now</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="static/styles.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-black transition-colors duration-300">
  <!--Header Section-->
  <header id="header" class="fixed top-0 left-0 w-full z-50 flex flex-wrap sm:flex-nowrap justify-between items-center p-4 border-b bg-white">
    <div class="flex items-center mb-2 sm:mb-0 w-full sm:w-auto justify-between">
      <a href="/" class="mr-auto">
        <img id="logo" class="h-8 sm:h-10" src="static/images/logo.png" alt="Logo">
      </a>
      <button id="menu-toggle" class="sm:hidden p-2 bg-gray-300 rounded-lg p-2 flex items-center justify-center md:hidden">
        <img class="h-6 w-6" src="static/images/menu_button.png" alt="Menu">
      </button>
    </div>
  

    <nav id="nav-menu" class="flex-col sm:flex-row sm:space-x-4 space-y-2 sm:space-y-0 px-4 py-2 sm:px-0 w-full sm:w-auto hidden sm:flex">
      <a href="#top-india" class="nav-link text-gray-700 hover:text-red-600 ml-2">Home</a>
      <a href="#top-india" class="nav-link text-gray-700 hover:text-red-600 ml-2">Top India</a>
      <a href="#top-world" class="nav-link text-gray-700 hover:text-red-600 ml-2">Top World</a>
      <a href="#sports" class="nav-link text-gray-700 hover:text-red-600 ml-2">Sports</a>
      <a href="#business" class="nav-link text-gray-700 hover:text-red-600 ml-2">Business</a>
      <a href="#entertainment" class="nav-link text-gray-700 hover:text-red-600 ml-2">Entertainment</a>
      <a href="#health" class="nav-link text-gray-700 hover:text-red-600 ml-2">Health</a>
      <a href="#science" class="nav-link text-gray-700 hover:text-red-600 ml-2">Science</a>
      <a href="#technology" class="nav-link text-gray-700 hover:text-red-600 ml-2">Technology</a>
    </nav>
  
    <div class="flex items-center space-x-2 mt-2 sm:mt-0 w-full sm:w-auto justify-end">
      <form action="/search" method="get" class="flex items-center space-x-2 w-full sm:w-auto">
        <input type="text" name="q" placeholder="Search" class="p-2 border rounded-lg flex-grow sm:flex-grow-0" required>
        <button type="submit" class="bg-gray-300 rounded-lg p-2 flex items-center justify-center">
          <img class="w-5 h-5 sm:w-6 sm:h-6" src="static/images/search_button.png" alt="Search">
        </button>
      </form>
      
      <button id="toggle-dark-mode" class="bg-gray-300 rounded-lg p-2 flex items-center justify-center">
        <img id="icon" class="w-5 h-5 sm:w-6 sm:h-6" src="static/images/dark_mode.png" alt="Toggle Theme">
      </button>
    </div>
  </header>

  <!--Main Section-->
  <main class="mt-32 p-4">
    <!-- Top News India -->
    <section id="top-india" class="max-w-6xl mx-auto pb-8 mb-8">
      <h2 class="text-3xl font-semibold mb-8 text-center">Top News in India</h2>
      <div class="flex flex-wrap justify-center">
        {% if top_india %}
          {% for article in top_india %}
            <article class="card w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
              <div class="p-6 border rounded-lg shadow-md bg-white h-full flex flex-col">
                <img src="{{ article.get('urlToImage') }}" alt="{{ article.get('title') }}" class="mb-4 rounded-lg object-cover h-48 w-full">
                <h3 class="text-xl font-semibold mb-2">{{ article.get('title') }}</h3>
                <a href="{{ article.get('url') }}" class="text-red-600 hover:underline mt-4" target="_blank">Read more</a>
              </div>
            </article>
          {% endfor %}
        {% else %}
          <p>No news articles available.</p>
        {% endif %}
      </div>
    </section>

    <!-- Top News World -->
    <section id="top-world" class="max-w-6xl mx-auto pb-8 mb-8">
      <h2 class="text-3xl font-semibold mb-8 text-center">Top World News</h2>
      <div class="flex flex-wrap justify-center">
        {% if top_world %}
          {% for article in top_world %}
            <article class="card w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
              <div class="p-6 border rounded-lg shadow-md bg-white h-full flex flex-col">
                <img src="{{ article.get('urlToImage') }}" alt="{{ article.get('title') }}" class="mb-4 rounded-lg object-cover h-48 w-full">
                <h3 class="text-xl font-semibold mb-2">{{ article.get('title') }}</h3>
                <a href="{{ article.get('url') }}" class="text-red-600 hover:underline mt-4" target="_blank">Read more</a>
              </div>
            </article>
          {% endfor %}
        {% else %}
          <p>No news articles available.</p>
        {% endif %}
      </div>
    </section>

    <!-- Category News -->
    <section id="sports" class="max-w-6xl mx-auto pb-8 mb-8">
      <h2 class="text-3xl font-semibold mb-8 text-center">Sports News</h2>
      <div class="flex flex-wrap justify-center">
        {% if sports_news %}
          {% for article in sports_news %}
            <article class="card w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
              <div class="p-6 border rounded-lg shadow-md bg-white h-full flex flex-col">
                <img src="{{ article.get('urlToImage') }}" alt="{{ article.get('title') }}" class="mb-4 rounded-lg object-cover h-48 w-full">
                <h3 class="text-xl font-semibold mb-2">{{ article.get('title') }}</h3>
                <a href="{{ article.get('url') }}" class="text-red-600 hover:underline mt-4" target="_blank">Read more</a>
              </div>
            </article>
          {% endfor %}
        {% else %}
          <p>No sports news available.</p>
        {% endif %}
      </div>
    </section>

    <section id="business" class="max-w-6xl mx-auto pb-8 mb-8">
      <h2 class="text-3xl font-semibold mb-8 text-center">Business News</h2>
      <div class="flex flex-wrap justify-center">
        {% if business_news %}
          {% for article in business_news %}
            <article class="card w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
              <div class="p-6 border rounded-lg shadow-md bg-white h-full flex flex-col">
                <img src="{{ article.get('urlToImage') }}" alt="{{ article.get('title') }}" class="mb-4 rounded-lg object-cover h-48 w-full">
                <h3 class="text-xl font-semibold mb-2">{{ article.get('title') }}</h3>
                <a href="{{ article.get('url') }}" class="text-red-600 hover:underline mt-4" target="_blank">Read more</a>
              </div>
            </article>
          {% endfor %}
        {% else %}
          <p>No business news available.</p>
        {% endif %}
      </div>
    </section>

    <section id="entertainment" class="max-w-6xl mx-auto pb-8 mb-8">
      <h2 class="text-3xl font-semibold mb-8 text-center">Entertainment News</h2>
      <div class="flex flex-wrap justify-center">
        {% if entertainment_news %}
          {% for article in entertainment_news %}
            <article class="card w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
              <div class="p-6 border rounded-lg shadow-md bg-white h-full flex flex-col">
                <img src="{{ article.get('urlToImage') }}" alt="{{ article.get('title') }}" class="mb-4 rounded-lg object-cover h-48 w-full">
                <h3 class="text-xl font-semibold mb-2">{{ article.get('title') }}</h3>
                <a href="{{ article.get('url') }}" class="text-red-600 hover:underline mt-4" target="_blank">Read more</a>
              </div>
            </article>
          {% endfor %}
        {% else %}
          <p>No entertainment news available.</p>
        {% endif %}
      </div>
    </section>

    <section id="health" class="max-w-6xl mx-auto pb-8 mb-8">
      <h2 class="text-3xl font-semibold mb-8 text-center">Health News</h2>
      <div class="flex flex-wrap justify-center">
        {% if health_news %}
          {% for article in health_news %}
            <article class="card w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
              <div class="p-6 border rounded-lg shadow-md bg-white h-full flex flex-col">
                <img src="{{ article.get('urlToImage') }}" alt="{{ article.get('title') }}" class="mb-4 rounded-lg object-cover h-48 w-full">
                <h3 class="text-xl font-semibold mb-2">{{ article.get('title') }}</h3>
                <a href="{{ article.get('url') }}" class="text-red-600 hover:underline mt-4" target="_blank">Read more</a>
              </div>
            </article>
          {% endfor %}
        {% else %}
          <p>No health news available.</p>
        {% endif %}
      </div>
    </section>

    <section id="science" class="max-w-6xl mx-auto pb-8 mb-8">
      <h2 class="text-3xl font-semibold mb-8 text-center">Science News</h2>
      <div class="flex flex-wrap justify-center">
        {% if science_news %}
          {% for article in science_news %}
            <article class="card w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
              <div class="p-6 border rounded-lg shadow-md bg-white h-full flex flex-col">
                <img src="{{ article.get('urlToImage') }}" alt="{{ article.get('title') }}" class="mb-4 rounded-lg object-cover h-48 w-full">
                <h3 class="text-xl font-semibold mb-2">{{ article.get('title') }}</h3>
                <a href="{{ article.get('url') }}" class="text-red-600 hover:underline mt-4" target="_blank">Read more</a>
              </div>
            </article>
          {% endfor %}
        {% else %}
          <p>No science news available.</p>
        {% endif %}
      </div>
    </section>

    <section id="technology" class="max-w-6xl mx-auto pb-8 mb-8">
      <h2 class="text-3xl font-semibold mb-8 text-center">Technology News</h2>
      <div class="flex flex-wrap justify-center">
        {% if tech_news %}
          {% for article in tech_news %}
            <article class="card w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
              <div class="p-6 border rounded-lg shadow-md bg-white h-full flex flex-col">
                <img src="{{ article.get('urlToImage') }}" alt="{{ article.get('title') }}" class="mb-4 rounded-lg object-cover h-48 w-full">
                <h3 class="text-xl font-semibold mb-2">{{ article.get('title') }}</h3>
                <a href="{{ article.get('url') }}" class="text-red-600 hover:underline mt-4" target="_blank">Read more</a>
              </div>
            </article>
          {% endfor %}
        {% else %}
          <p>No technology news available.</p>
        {% endif %}
      </div>
    </section>
  </main>


  <script src="static/scripts.js"></script>
</body>
</html>
